/**
 * reset
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/antibes_france.jpeg");
    background-size: auto 130vh;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: floralwhite;
  }
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 400px) {
    body{
      font-size:14px;
    }
  }
   
  /* breakpoint */
  @media (min-width: 600px) {
    body{
      font-size:18px;
    }
  }
   /* breakpoint */
   @media (min-width: 1200px) {
    body{
      font-size:22px;
    }
  }

  header{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color:lavender;
    position:fixed;
    width:100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    
  }
  
  .menu li {
    list-style:none;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
  }
  
  a{
    color: dimgrey;
    text-decoration:none;
  }
  
  a:hover{
    text-decoration:underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align:center;
    color: floralwhite;
  }
  
  .site-title{
    font-size:4em;
    font-family: 'Kalam', cursive;
    /* paulo */
    text-shadow: 2px 2px 4px;
  }
  .site-subtitle {
    font-style:italic;
    font-family:'Baloo 2', cursive;
    
  }
  .especialidades {
    padding:2em;
    height: 57vh;
  }
  .especialidades h2{
    font-family: 'Baloo 2', cursive;
    color:;
    margin-bottom: 1.5em;
    }

    .especialidades .grid{
      display: grid;
      gap: 2em;
    }

    @media (min-width:560px) {
      .especialidades .grid{
        grid-template-columns: 360px 360px 360px;
      }
    }
    @media (min-width:880px) {
      .especialidades .grid{
        grid-template-columns: 360px 360px 360px;
        justify-content: center;
      }
    }

    .especialidades figure{
      text-align: center;
    }

    .img-especialidades {
      height: 220px;
      width: 280px;
      object-fit: cover;
      border-radius: 20px;
  }